In [1]:
import pandas as pd
import numpy as np

In [2]:
# 参数初始化
datafile = 'E:\\NLP\\Python数据分析与挖掘实战\\chapter4\\demo\\data\\normalization_data.xls'
# 读取数据
data = pd.read_excel(datafile, header = None)
print(data)

     0    1    2     3
0   78  521  602  2863
1  144 -600 -521  2245
2   95 -457  468 -1283
3   69  596  695  1054
4  190  527  691  2051
5  101  403  470  2487
6  146  413  435  2571

## 离差标准化 -> 将数值映射到 [0, 1] 之间

In [3]:
# 使用 最小-最大规范化 -> 离差规范化
(data - data.min()) / (data.max() - data.min())

          0         1         2         3
0  0.074380  0.937291  0.923520  1.000000
1  0.619835  0.000000  0.000000  0.850941
2  0.214876  0.119565  0.813322  0.000000
3  0.000000  1.000000  1.000000  0.563676
4  1.000000  0.942308  0.996711  0.804149
5  0.264463  0.838629  0.814967  0.909310
6  0.636364  0.846990  0.786184  0.929571

## 标准差规范化 -> 处理后的数据均值为 0， 标准差为 1

In [6]:
# 零-均值规范化 -> 标准差标准化
(data - data.mean()) / data.std() * 1.0

          0         1         2         3
0 -0.905383  0.635863  0.464531  0.798149
1  0.604678 -1.587675 -2.193167  0.369390
2 -0.516428 -1.304030  0.147406 -2.078279
3 -1.111301  0.784628  0.684625 -0.456906
4  1.657146  0.647765  0.675159  0.234796
5 -0.379150  0.401807  0.152139  0.537286
6  0.650438  0.421642  0.069308  0.595564

## 小数定标规范化 -> 通过移动属性值的小数位数，将属性值映射到[-1, 1]之间
> 移动的小数位数取决于属性值绝对值的最大值

In [5]:
# 小数定标规范化
# 属性值绝对值的最大值
# ceil -> 向上取整
data / 10 ** np.ceil(np.log10(data.abs().max()))

       0      1      2       3
0  0.078  0.521  0.602  0.2863
1  0.144 -0.600 -0.521  0.2245
2  0.095 -0.457  0.468 -0.1283
3  0.069  0.596  0.695  0.1054
4  0.190  0.527  0.691  0.2051
5  0.101  0.403  0.470  0.2487
6  0.146  0.413  0.435  0.2571