### 给出6*5随机矩阵的 describe

In [1]:
import pandas as pd
import numpy as np

In [3]:
D = pd.DataFrame(np.random.randn(6, 5))
# 总数(非空数值)，平均值，标准差，最小值，分位数(默认1/4, 1/2, 3/4), 最大值
# 指定分位数分位标准
# percentiles = [0.2, 0.4, 0.6, 0.8]
D.describe(percentiles = [0.2, 0.4, 0.6, 0.8])

              0         1         2         3         4
count  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.992036 -0.040449  0.158257  0.128781 -0.066558
std    0.820804  1.228368  1.018370  0.826140  1.282835
min   -0.339605 -1.858802 -0.716177 -0.992247 -1.533152
20%    0.656057 -0.694261 -0.571320 -0.348563 -0.512332
40%    0.811299 -0.519463 -0.348256 -0.183438 -0.510592
50%    0.983462 -0.031066 -0.192034  0.001037 -0.400491
60%    1.155625  0.457331 -0.035812  0.185512 -0.290389
80%    1.790840  0.783921  0.625474  0.822388  0.150564
max    1.877997  1.588581  1.995635  1.289033  2.296555