In [3]:
import pandas as pd
# 餐饮数据
catering_sale = 'E:\\NLP\\Python数据分析与挖掘实战\\chapter3\\demo\\data\\catering_sale.xls'
# 读取数据，指定‘日期’列为索引列
data = pd.read_excel(catering_sale, index_col = u'日期')
print(len(data))
# 查看综合分析
# 总数(非空数值)，平均值，标准差，最小值，分位数(1/4, 1/2, 3/4), 最大值
data.describe()

201

                销量
count   200.000000
mean   2755.214700
std     751.029772
min      22.000000
25%    2451.975000
50%    2655.850000
75%    3026.125000
max    9106.440000