## 一维数组

In [1]:
from pandas import Series

In [2]:
# 定义
# 可以有不同类型的值
x = Series(['one', True, 1], index=['first', 'second', 'third'])
print(x)
x_01 = Series(['one', True, 1])
print(x_01)

first      one
second    True
third        1
dtype: object
0     one
1    True
2       1
dtype: object

### 访问

In [3]:
print(x[1])
# 根据index
print(x['third'])

True
1

### 追加

In [4]:
# 不可以追加单个元素
# x.append('6')
# 追加一个序列
n = Series(['6'])
x.append(n)
# 不会操作原始值
print(x)
print('--------------------')
x_02 = x.append(n)
print(x_02)

first      one
second    True
third        1
dtype: object
--------------------
first      one
second    True
third        1
0            6
dtype: object

### 判断

In [5]:
# 判断索引
'third' in x

True

In [6]:
# 判断值
'one' in x.values

True

In [7]:
# 切片 -> 含头不含尾
print(x[1:2])

second    True
dtype: object

In [8]:
# 定位获取，常用于随机抽样 -> 和正常值对比着看
x[[0, 2, 1]]

first      one
third        1
second    True
dtype: object

### 删除

In [9]:
# 根据index删除
x.drop('first')
# 同样不会操作原始数据
print(x)
print('------------------')
x_03 = x.drop('first')
print(x_03)

first      one
second    True
third        1
dtype: object
------------------
second    True
third        1
dtype: object

In [10]:
# 根据位置删除
# 不会操作原始数据
x.drop(x.index[1])

first    one
third      1
dtype: object

In [11]:
print(x)

first      one
second    True
third        1
dtype: object

In [12]:
# 根据值删除
# 不会操作原始数据
x['one' != x.values]
# x['one' == x.values]

second    True
third        1
dtype: object

In [13]:
print(x)

first      one
second    True
third        1
dtype: object

## 遍历

In [16]:
x = Series(['a', True, 1], index = ['one', 'two', 'three'])
print(x)
x[0]

one         a
two      True
three       1
dtype: object

'a'

In [15]:
x['two']

True

In [17]:
# 遍历索引查找
for i in x.index:
    print('索引：', i)
    print('值：', x[i])
    print('-----------')

索引： one
值： a
-----------
索引： two
值： True
-----------
索引： three
值： 1
-----------