In [1]:
import pandas as pd

In [2]:
# 读取csv数据
data = pd.read_csv('./hexun.csv')
# 查看综合分析
# 总数，平均值，标准差，最小值，..., 最大值
data.describe()

                 1            21            0
count  5696.000000   5696.000000  5696.000000
mean   2849.500000    772.570751     4.636236
std    1644.437898   2814.228154    19.843046
min       2.000000      1.000000     0.000000
25%    1425.750000      1.000000     0.000000
50%    2849.500000      2.000000     0.000000
75%    4273.250000    110.250000     0.000000
max    5697.000000  62861.000000   363.000000